# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
/.idea/
*.iml
*.ipr
*.iws
.idea/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

